.section
  +container()
  padding: 24px
  &_mt
    margin-top: 24px
  &_white
    background-color: #fff
  &_lite-gray
    background-color: #FAFAFA
  &_shadow
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
    border-radius: 2px

  &__title
    display: block
    font-size: 20px
    color: rgba(0, 0, 0, 0.87)
    margin-bottom: 1em

  &__description
    font-size: 14px
    color: rgba(#000000, 0.54)
    max-width: 90%
    margin-bottom: 2em
    line-height: 1.4
    span
      color: #03A9F4
      font-family: monospace
    p
      margin-top: 8px

  &__example
    margin-bottom: 1em

  &__code
    +grid-in()
    h3
      border-bottom: 1px solid rgba(0, 0, 0, 0.38)
      padding-bottom: 16px
    pre
      +col()
      +col-sm(12)
      margin-top: 16px
      overflow-y: hidden
      background-color: #fff
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
      padding: 16px
      color: #03A9F4

  &__button
    background: 0 0
    border: none
    border-radius: 2px
    color: #000
    position: relative
    height: 36px
    margin: 0
    min-width: 64px
    padding: 0 16px
    display: inline-block
    font-family: "Roboto","Helvetica","Arial",sans-serif
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0
    overflow: hidden
    will-change: box-shadow
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1)
    outline: none
    cursor: pointer
    text-decoration: none
    text-align: center
    line-height: 36px
    vertical-align: middle
    &_raised
      background: rgba(158,158,158,.2)
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
    &:hover
      background-color: rgba(158,158,158,.2)
    &:focus:not(:active)
      box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36)
      background-color: rgba(158,158,158,.4)
    &:active
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2)
      background-color: rgba(158,158,158,.4)


.grid
  color: rgb(255, 255, 255)
  font-family: "Roboto", sans-serif

  &__col
    text-align: center
    background-color: $color-accent
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
    padding: 8px
    border-radius: 2px
    margin:
      top: $margin / 2
      bottom: $margin / 2
