//- +b.SECTION.section._lite-gray
//-   +e.H2.title Миксин +grid-in()
//-   +e.description
//-     p
//-       | Вы так же можете сделать
//-       span  +gitd-in()
//-       |  c суффиксами или без.
//-       | Этот миксин без суффикса указывает размер для елемента глобально
//-     p
//-       | Чтобы задать элементу размер для конкретного разрешения добавьте суффиксы
//-       span  -xs -sm -md -lg -xl
//-       <br>
//-       | Количестов колонок, которое займет элемент, задается аргументом в скобках. Например
//-       span  +col-md(5)
//-       |  - будет занимать 5 колонок на средних экранах.
//-
//-
//-   +e.example
//-     +b.box._grid-in
//-       +b.box._grid-in.__col._5._xs-12 5
//-       +b.box._grid-in.__col._7._xs-12 7
//-
//-   +e.code
//-     pre
//-       | <h3>HTML</h3>
//-       | &lt;div class="grid"&gt;
//-       |   &lt;div class="elem"&gt;auto&lt;/div&gt;
//-       | &lt;/div&gt;
//-       |
//-       | &lt;div class="grid"&gt;
//-       |   &lt;div class="elem_3"&gt;3&lt;/div&gt;
//-       |   &lt;div class="elem_7"&gt;7&lt;/div&gt;
//-       |   &lt;div class="elem_2"&gt;2&lt;/div&gt;
//-       | &lt;/div&gt;
//-       |
//-       | &lt;div class="grid"&gt;
//-       |   &lt;div class="elem"&gt;auto&lt;/div&gt;
//-       |   &lt;div class="elem_2"&gt;2&lt;/div&gt;
//-       |   &lt;div class="elem"&gt;auto&lt;/div&gt;
//-       |   &lt;div class="elem_2"&gt;2&lt;/div&gt;
//-       | &lt;/div&gt;
//-     pre
//-       | <h3>Sass (sass syntax)</h3>
//-       | .grid
//-       |   +grid()
//-       |   .elem
//-       |     +col()
//-       |   .elem_3
//-       |     +col(3)
//-       |     +col-xs(12)
//-       |   .elem_7
//-       |     +col(7)
//-       |     +col-xs(12)
//-       |   .elem_2
//-       |     +col(2)
//-       |     +col-xs(12)
