+b.SECTION.section._lite-gray
  +e.H2.title Миксин +grid()
  +e.description._mb
    p
      | Для того чтобы начать делать адаптивную верстку, вам необходимо создать контейнер, в котором вы сможете задавать элеменам сколько колонок они должны занимать внутри контейнера. Для этого в стилях добавьте миксин
      span  +grid()
      |  к любому селектору. Это может быть class, id, tag.
    p
      | Этот миксин принимает один из двух аргументов
      span  +grid(fluid)
      |  или
      span  +grid(fixed)
      | . Агрумент
      span  fixed
      |  сделает вашу сетку фиксированной, когда размер контейнера для каждого медиа запроса фиксирован. А в случае передачи аргумента
      span  fluid
      |  контейнер будет растянут на всю ширину экрана браузера.
    p
      | По умолчанию стоит значение
      span  fixed
      |  то есть вам достаточно применить миксин
      span  +grid()
      |  чтобы получить фиксированную сетку.


  +e.code
    pre
      | <h3>HTML</h3>
      | &lt;div class="your-class"&gt;
      |   &lt;div&gt; ... &lt;/div&gt;
      |   &lt;div&gt; ... &lt;/div&gt;
      |   &lt;div&gt; ... &lt;/div&gt;
      | &lt;/div&gt;
    pre
      | <h3>Sass (sass syntax)</h3>
      | .your-class
      |   +grid()
