+b.SECTION.section._lite-gray
  +e.H2.title Миксин +hidden()
  +e.description._mb
    p
      | Миксин
      span  +hidden()
      |  служит для скрытия элементов для нужных разрешений экрана с суффиксов
      span  -xs -sm -md -lg -xl
      | . Просто укажите нужному элементу миксин
      span  +hidden()
      |  c нужнмы суффиксом и на этом разрешении экрана элемент будет скрыт. Миксин принимает однин аргумент со значениями:
    P
      span  only
      |  - элемент будет скрыт для текущего разрешения экрана, указанного суффиксом в миксине<br>
      span  up
      |  - элемент будет скрыт для текущего разрешения и всех больших<br>
      span  down
      |  - элемент будет скрыт для текущего разрешения и всех меньших<br>


  +e.example
    +b.box._grid-in
      +e.col._4._xs-12.__hidden-sm hidden-sm
      +e.col._4._xs-12.__hidden-md.__offset-r-4 hidden-md
      +e.col._4._xs-12.__hidden-lg.__offset-r hidden-lg

  +e.code
    pre
      | <h3>HTML</h3>
      | &lt;div class="grid"&gt;
      |   &lt;div class="hidden-sm"&gt; hidden-sm &lt;/div&gt;
      |   &lt;div class="hidden-md"&gt; hidden-md &lt;/div&gt;
      |   &lt;div class="hidden-lg"&gt; hidden-lg &lt;/div&gt;
      | &lt;/div&gt;

    pre
      | <h3>Sass (sass syntax)</h3>
      | .grid
      |   +grid()
      |   .elem_2
      |     +col(2)
      |     +col-xs(12)
      |   .right
      |     +offset(right)
      |   .right-1
      |     +offset(right, 1)
      |   .right-2
      |     +offset(right, 2)
      |   .right-3
      |     +offset(right, 3)
