+b.SECTION.section._lite-gray
  +e.H2.title Настройка
  +e.description._mb
    p
      | Сетка имеет ряд настроек. Все настройкри производятся в файле
      span  settings.sass
      | . Вы можете задать свои брейпоинты, ширину между колонками и их количество. В скором времени появится новые полезные настройки для кастомизации сетки.
