+b.SECTION.section._lite-gray._shadow
  +e.H2.title GMD
  +e.description
    p
      | GMD - (Grid Material Design) это препроцессорный фреймворк. В его основе заложена работа миксинов Sass, поэтому перед тем, как начать работать с GMD, желательно ознакомиться с препроцессором Sass на
      |
      a(href='http://sass-lang.com/') официальном сайте
      |  или его
      |
      a(href='https://sass-scss.ru/documentation/miksini/') русскоязычной версии
      | .
    p
      | Если вы ещё не знакомы с миксинами, и не хотите читать теорию, то не беспокойтесь. Фреймворк сделан так, чтобы его можно было сразу использовать "в боевых условиях"
