+b.SECTION.section._white._shadow
  +e.H2.title GMD
  +e.description
    p
      | GMD - это свободный набор инструментов для создания адаптивных сайтов в
      |
      +e.A.link(href="https://material.io/guidelines/material-design/introduction.html") Material Design
      | . GMD построен на препроцессоре Sass, поэтому перед работой с фреймворком желательно ознакомиться с препроцессором Sass на
      |
      +e.A.link(href='https://sass-scss.ru/documentation/miksini/') официальном сайте
      | . Если вы плохо владеете препроцессором Sass, не беспокойтесь используя документацию вы быстро освоитесь с процессом.
    p
      | Основное отличие GMD от других популярных фреймворков, то что здесь вам не придется расставлять классы в вашей разметке. Вся магия происходит в стилях за счет миксинов. Вы задаете всего один класс с любым именем нужному тегу, после чего останется присвоить необходимые свойства с помощью миксинов. И ваша разметка всегда будет в чистоте.
