+b.SECTION.section._lite-gray._mt._shadow
  +e.H2.title Grid
  +e.description
    p
      | Это адаптивная сетка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми ipsum города продолжил решила раз по всей толку, речью ты предупредила инициал путь приставка, океана своего! Жизни ты то возвращайся одна он предложения буквоград встретил пояс вопроса рот необходимыми послушавшись строчка до, если страну языкового, однажды журчит, переписывается рукописи? Свой, залетают запятой злых языкового города. Продолжил раз, не это даль lorem, вопроса переулка диких парадигматическая ipsum свое. Большой вопрос заголовок грамматики текстов подпоясал инициал, единственное залетают, предупредила приставка живет рыбными.
  +e.button._raised(href='grid.html') documentation
