+b.SECTION.section._white._mt._shadow
  +e.H2.title Установка
  +e.description._mb
    p
      | Grid - первая часть ферймворка это адаптивная сетка. Она будет привычна в освоении для тех людей, кто уже пользовался адаптивными сетками, но тут вы будете расставлять не классы в разметке, а миксинны с стилях. Эта сетка позволяет задать любое количество колонок, расстояние между ними и менять брейпоинты. И все это можно изменять в любое время, даже во время верстки.
  +e.button._raised(href='grid.html') documentation
