doctype html
html(lang='ru')
  include pug/head
  body
    // The structure of the html document
    include pug/header
    include pug/grid/grid
    include pug/grid/col
    include pug/grid/grid-in
    include pug/grid/align
    include pug/grid/offset
    include pug/grid/hidden
    include pug/grid/media
    include pug/footer

    // Load Your Scripts
    link(rel='stylesheet', href='css/libs.css')
    script(src='js/common.js')
